@use '../util' as *;

// Source: https://css-tricks.com/box-sizing/
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  // position: relative;
  margin: 0;
  background: url('https://iulso.github.io/fem-testimonial-section/images/bg-pattern-top-mobile.svg')
      left top no-repeat,
    url('https://iulso.github.io/fem-testimonial-section/images/bg-pattern-bottom-mobile.svg')
      right bottom no-repeat;

  @include breakpoint(medium) {
    background: url('https://iulso.github.io/fem-testimonial-section/images/bg-pattern-top-desktop.svg')
        left top no-repeat,
      url('https://iulso.github.io/fem-testimonial-section/images/bg-pattern-bottom-desktop.svg')
        right bottom no-repeat;
  }
}
