@use '../util/' as *;

.container {
  display: flex;
  justify-content: center;

  margin: rem(70) 0;
  height: 100vh;

  @include breakpoint(medium) {
    margin: rem(90) 0;
  }
}

main {
  max-width: 90%;

  @include breakpoint(medium) {
    max-width: 80%;
  }
}
